@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = null;
    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var AssetsVersion = root.Value<string>(NamNung.Web.Constants.Fields.AssetsVersion);
}

<html dir="ltr" lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Html.Partial("SEO/Metadata")

    <link href="~/css/bootstrap.min.css?ver=@AssetsVersion" rel="stylesheet" media="screen">
    <link href="~/css/font-awesome.min.css?ver=@AssetsVersion" rel="stylesheet" type="text/css">
    <link href="~/css/owl.carousel.css?ver=@AssetsVersion" type="text/css" rel="stylesheet" media="screen">
    <link href="~/css/owl.theme.css?ver=@AssetsVersion" type="text/css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/lib/lightbox/css/lightbox.min.css?ver=@AssetsVersion">

    <link rel="stylesheet" href="~/css/lightbox-custom.css?ver=@AssetsVersion">
    <link href="~/css/stylesheet.css?ver=@AssetsVersion" rel="stylesheet">

    <script src="~/js/jquery-2.1.1.min.js?ver=@AssetsVersion" type="text/javascript"></script>
    <script src="~/js/owl.carousel.min.js?ver=@AssetsVersion" type="text/javascript"></script>
    <script src="~/js/jssor.slider-28.1.0.min.js?ver=@AssetsVersion" type="text/javascript"></script>

    <style>
        @@media print {
            .d-print-none {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <div class="index-head d-print-none">
        <div class="banner allmenu">
            <div class="container">
                <div class="menuTop">

                    @Html.Partial("Identification/Logo")

                    @Html.Partial("Navigation/HeaderMenu")

                </div>
            </div>
        </div>
    </div>

    <div id="common-home" class="container-fluid">
        <div id="content" class="page-tintuc">

            @Html.Partial("PageContent/PageContentHeading")

            <div class="container breadrum">

                @Html.Partial("Navigation/Breadcrumbs")

                @Html.Partial("PageContent/PageContentTitle")

            </div>
            <div class="container">
                <div class="blog-detail">
                    <div class="blog-contenter" id="detailContent">

                        @Html.Partial("PageContent/PageContentDetail")

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="d-print-none">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 footer-left">
                    <h1>
                        <span>
                            @Umbraco.GetDictionaryValue(NamNung.Web.Constants.Dictionary.ContactFooterMenuTitle)
                        </span>
                    </h1>
                    <div class="footcontact">
                        <ul class="list-unstyled">

                            @Html.Partial("Identification/ContactInformationWidget")

                            @Html.Partial("Navigation/SocialsMenu")

                            @Html.Partial("Navigation/LanguaMenu")

                        </ul>
                    </div>
                </div>

                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="middle-footer">

                            @Html.Partial("Navigation/CategoryMenu")

                            @Html.Partial("Navigation/PageMenu")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot-power">
            <div class="container">

                @Html.Partial("Identification/Copyright")

                @Html.Partial("Navigation/FooterMenu")

            </div>
        </div>
    </footer>
    <a href="/" id="scroll" title="Scroll to Top" style="display: block;" class="d-print-none">
        <i class="fa fa-angle-up"></i>
    </a>

    <script src="~/js/bootstrap.min.js?ver=@AssetsVersion" type="text/javascript"></script>
    <script src="~/js/common.js?ver=@AssetsVersion" type="text/javascript"></script>
    <script src="~/js/custom.js?ver=@AssetsVersion" type="text/javascript"></script>
</body>
</html>